* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
a{
    text-decoration: none;
    color:white ;
}

body {
width: 100%;
color: #004C59;
font-family: 'Arial', sans-serif;
overflow-x: hidden; 
}
.container-category {
        max-width: 1200px;
        margin-top: 100px;
        margin-left: 280px; 
        padding: 0 20px;
}
.form-table-category{
    width: 100%;
}
.form-table-category table {
    width: 100%;
    margin: 50px 0;
    text-align: left; 
    font-size: 20px;
    border-collapse: collapse; 
}
.form-table-category table th,
.form-table-category table td {
    padding: 15px;
}
.form-table-category table td:last-child {
    text-align: right; 
    white-space: nowrap; 
}
.btn-edit, .btn-remove {
    width: 150px;
    height: 45px;
    font-size: 16px;
    display: inline-block;
}
.btn-edit{
    width: 150px;
    height: 45px;
    border: 1px solid #004C59;
    font-size: 16px;
    border-radius: 4px;
    margin: 10px 20px;
    background-color: #004C59;
    color: white;
}
.btn-remove{
    width: 150px;
    height: 45px;
    border: 1px solid #F15E2C;
    font-size: 16px;
    border-radius: 4px;
    background-color: #F15E2C;
    color: white;
}
.name-table-category span {
    width: 100%;
    font-size: 32px; 
    font-weight: bold;
}
.btn-add-new-category {
    height: 40px;
    width: 200px; 
    font-size: 14px;
    border: 1px solid #004C59;
    border-radius: 4px;
    background-color: #004C59;
    color: white;
}